<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header">
    <ul>
        <p id="logo">Premier League Tracker</p>
    </ul>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/table">Table</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            {{#if session.isAdmin}}
                <li><a href="/users">Users</a></li>
            {{/if}}
        </ul>
        <ul class="nav-login">
            {{#if session.isLoggedIn}}
                <li class="username-container">Hi, <a href="/profile/{{session.name}}">{{session.name}}</a> - <a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>


<div class="content">
    {{{body}}}
</div>

<footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/table">Table</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        
            <div class="footer-social">
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>

            <div class="footer-copyright">
                <p>&copy; 2024 Premier League Tracker. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>