<body>
    <div class="profile-container">
     {{#if session.isAdmin}}
        <h1>Welcome to the {{user.username}} Profile!</h1>

                    <div class="button-container">
            <a href="/users" class="change-team-btn">See all users</a>
            <a href="/logout" class="delete-user-btn">Logout</a>
        </div>
        {{else}}
        <h1>Welcome to {{user.username}}'s Profile!</h1>
        <p>{{user.username}}'s favorite team</p>
        
        <!-- Display the current team -->
        <p class="team-container">Team Name: 
            {{#if user.team_name}}
                <span>
                    <img src="{{user.team_image}}" alt="{{user.team_name}}">
                    <span>{{user.team_name}}</span>
                </span>
            {{else}}
                <span>No team assigned</span>
            {{/if}}
        </p>
        
        <!-- Team Selection Form -->
        <form action="/profile/{{user.username}}/update" method="POST" class="team-selection-form">
            <label for="team">Select a new team:</label>
            <select name="team" id="team">
                {{#each teams}}
                    <option value="{{this.id}}" {{#if (eq this.id ../user.current_team_id)}}selected{{/if}}>{{this.name}}</option>
                {{/each}}
            </select>
            <button type="submit" class="update-team">Update Team</button>
        </form>

                <div class="button-container">
            <a href="/" class="change-team-btn">Back to Home</a>
            <a href="/logout" class="delete-user-btn">Logout</a>
        </div>
                {{/if}}
    </div>
</body>