<body>
<div class="table-container">
    <h1>Users List</h1>
    <table>
        <thead>
            <tr>
                <th class="result">User ID</th>
                <th class="result">Username</th>
                <th class="result">Team Name</th>
                <th class="result">Change Team</th>
                <th class="result">Delete User</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td>{{this.user_id}}</td>
                    <td>{{this.username}}</td>
<td class="team-name">
    <div class="team-info">
        <img src="{{this.team_image}}" alt="{{this.team_name}}" class="team-image">
        <span class="team-text">{{this.team_name}}</span>
    </div>
</td>

            <td>
            <form action="/change-team/{{this.user_id}}" method="POST" class="change-team-container">
                <select name="team" id="team">
                    {{#each ../teams}}
                        <option value="{{this.id}}" {{#if (eq this.id ../this.team_id)}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
                <div class="button-container">
                <button class="change-team-btn" type="submit">Change</button>
                </div>
            </form>
            </td>
            <td>
                        <form action="/delete-user/{{this.user_id}}" method="POST" class="change-team-container" onsubmit="return confirm('Are you sure you want to delete this user?');">
                        <div class="button-container">
                            <button class="delete-user-btn" type="submit">Delete</button>
                        </div>
                        </form>
                        </form>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="4">No users found.</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</body>