<body>
<div class="table-container">
    <h1>Users List</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Team Name</th>
                <th>Change Team</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td>{{this.user_id}}</td>
                    <td>{{this.username}}</td>
            <td>
                <img src="{{this.team_image}}" alt="{{this.team_name}}" style="width: 40px; height: 40px; object-fit: contain: margin-right: 8px; vertical-align: middle; display: inline-block;">
                {{this.team_name}}
            </td>
            <td>
            <form action="/change-team/{{this.user_id}}" method="POST">
                <select name="team" id="team">
                    {{#each ../teams}}
                        <option value="{{this.id}}" {{#if (eq this.id ../this.team_id)}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
                <button class="change-team-btn" type="submit">Change</button>
            </form>
            </td>
            <td>
                        <form action="/delete-user/{{this.user_id}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
                            <button class="delete-user-btn" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="4">No users found.</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</body>